TOTEM/BUSINESS/Web References/WsGetPathDecriptHollerith/WebserviceOpenPdfSap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://eepsa.com.br/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://eepsa.com.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://eepsa.com.br/">
      <s:element name="openPdf">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="matricula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="openPdfResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="openPdfResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="printFileTotem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="matricula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="printFileTotemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="printFileTotemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="openPdfSoapIn">
    <wsdl:part name="parameters" element="tns:openPdf" />
  </wsdl:message>
  <wsdl:message name="openPdfSoapOut">
    <wsdl:part name="parameters" element="tns:openPdfResponse" />
  </wsdl:message>
  <wsdl:message name="printFileTotemSoapIn">
    <wsdl:part name="parameters" element="tns:printFileTotem" />
  </wsdl:message>
  <wsdl:message name="printFileTotemSoapOut">
    <wsdl:part name="parameters" element="tns:printFileTotemResponse" />
  </wsdl:message>
  <wsdl:portType name="WebserviceOpenPdfSapSoap">
    <wsdl:operation name="openPdf">
      <wsdl:input message="tns:openPdfSoapIn" />
      <wsdl:output message="tns:openPdfSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="printFileTotem">
      <wsdl:input message="tns:printFileTotemSoapIn" />
      <wsdl:output message="tns:printFileTotemSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebserviceOpenPdfSapSoap" type="tns:WebserviceOpenPdfSapSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="openPdf">
      <soap:operation soapAction="http://eepsa.com.br/openPdf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="printFileTotem">
      <soap:operation soapAction="http://eepsa.com.br/printFileTotem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebserviceOpenPdfSapSoap12" type="tns:WebserviceOpenPdfSapSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="openPdf">
      <soap12:operation soapAction="http://eepsa.com.br/openPdf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="printFileTotem">
      <soap12:operation soapAction="http://eepsa.com.br/printFileTotem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebserviceOpenPdfSap">
    <wsdl:port name="WebserviceOpenPdfSapSoap" binding="tns:WebserviceOpenPdfSapSoap">
      <soap:address location="http://wchldev03/WS_OpenPdfSap/WebserviceOpenPdfSap.asmx" />
    </wsdl:port>
    <wsdl:port name="WebserviceOpenPdfSapSoap12" binding="tns:WebserviceOpenPdfSapSoap12">
      <soap12:address location="http://wchldev03/WS_OpenPdfSap/WebserviceOpenPdfSap.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>